* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

/*.allResults {
  background-color: lightgrey;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in;
}*/

main {
  min-height: 100vh;
  background-image: url("./assets/Forest_Background-879.jpg");
  background-size: 100%;
}

.search {
  width: 100%;
  margin: 0 0 75px;
  text-align: -webkit-center;
}

.search .searchBar {
  display: block;
  width: 30%;
  padding: 15px;
  background: #ffffffad;
  outline: none;
  border: outset;
  border-radius: 20px 20px 20px;
}

.locationResults .location {
  color: white;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  text-shadow: 3px 3px 6px black;
}

.locationResults .date {
  color: white;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.weatherBox {
  color: white;
  font-size: 22px;
  text-align: center;
}

.weatherBox .weather {
  font-style: italic;
}


